.jumbotron {
    text-align: center;
}
.jumbotron h1 {
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.nowrap {
    white-space:nowrap;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.tocHeader a {
    font-size: 17px;
    margin: 20px;
    color: black;
}

.file-info {
    display: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 4px 4px;
}

.file-info:target {
    display: block;
}

.faq-entry .faq-answer {
    display: none;
}

.faq-entry:target .faq-answer {
    display: block;
}

#modpack:target {
    font-size: 100px;
    color: red;
    font-weight: bold;
    text-shadow: 0 0 0 0 red;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        color: blue;
        text-shadow: 0 0 0 0 red;
        transform: rotate(0deg);
    }
    25% {
        color: green;
        text-shadow: 0 0 0 10px green;
        transform: rotate(5deg);
    }
    75% {
        color: red;
        text-shadow: 0 0 10px 0 blue;
        transform: rotate(-5deg);
    }
    100% {
        color: blue;
        text-shadow: 0 0 0 0 red;
        transform: rotate(0deg);
    }
}